[submodule "skiplists"]
	path = skiplists
	url = https://github.com/disruptek/skiplists
  branch = master
[submodule "grok"]
	path = grok
	url = https://github.com/disruptek/grok
  branch = master
[submodule "testes"]
	path = testes
	url = https://github.com/disruptek/testes
  branch = master
[submodule "criterion"]
	path = criterion
	url = https://github.com/disruptek/criterion
  branch = master
[submodule "hasts"]
	path = hasts
	url = https://github.com/haxscramper/hasts.git
