[submodule "skiplists"]
	path = skiplists
	url = https://github.com/disruptek/skiplists
[submodule "grok"]
	path = grok
	url = https://github.com/disruptek/grok
  branch = master
[submodule "testes"]
	path = testes
	url = https://github.com/disruptek/testes
[submodule "criterion"]
	path = criterion
	url = https://github.com/disruptek/criterion
